* {
    box-sizing: border-box;
}

body {
    background-color: black;
}

h1 {
    color: aliceblue;
    height: fit-content;
}

.ball {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    border-radius: 50%;
    font-weight: bold;
    font-size: 22px;
    transition: 1s;
    cursor: pointer;
}

.ball-1 {
    width: 100px;
    height: 100px;
    background-color: rgb(134, 172, 160);
}

.ball-2 {
    width: 200px;
    height: 200px;
    background-color: rgb(154, 123, 184);
    margin-block: 40px;
}

.ball-3 {
    width: 100px;
    height: 100px;
    background-color: rgb(201, 167, 143);
    margin-block: 40px;
}