* {
    box-sizing: border-box;
    color: aqua;
}

body {
    background-color: black;
}

h1 {
    color: aliceblue;
    height: fit-content;
}

.ball {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: auto;
    width: 100px;
    height: 100px;

    border-radius: 50%;
    font-weight: bold;
    font-size: 22px;
    transition: 1s;
    background-color: rgb(134, 172, 160);
    cursor: pointer;

}