* {
    box-sizing: border-box;
}

body {
    background-color: black;
}

h1 {
    color: aliceblue;
    height: fit-content;
}

.ball {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: rgb(134, 172, 160);
    cursor: pointer;
}